h1{
	font-size:100px;
	color:#F10404 ;
}
#special{
	font-size:40px;
	color:#10B4F1 ;
}
body{
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-color: black;
	color: white;
}
#4game{
	width: 50%;
	height: auto;
}
